.register-desing {
  justify-content: space-between;
  background-image: url(https://th.bing.com/th/id/OIG3.IW08aJfvbkGCo4TNsFtn?pid=ImgGn);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(to right, #1a2d579d, #1f023aab);
  font-family: "Helvetica Neue", sans-serif;
  z-index: 1;
}

.registerElementsDesign {
  padding: 20px;
  max-width: 400px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}
input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="email"]:focus,
input[type="password"]:focus {
  outline: none;
  border-color: #2193b0;
}

.regularButtonClass {
  width: 80%;
  padding: 10px;
  background-color: #2153b0e3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.regularButtonClass:hover {
  background-color: #052127;
}

h1 {
  font-weight: bold;
  color: #222222d8;
  font-size: 24px;
}
h2 {
  color: #af3733;
}
h3 {
  font-size: 12px;
}
h4 {
  text-transform: capitalize;
  color: #3333338c;
  font-size: 20px;
  text-align: start;
}
.error-message {
  color: #d9534f;
  font-size: 14px;
}
